body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
  }
  
  p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
  }
  
  h1 {
    font-size: 1.5em;
    color: #525252;
  }
  
  .box {
    background: white;
    width: 300px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 10px 10px 70px 10px;
    border: #000000 1px solid;
  }
  
  .email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #aaaaaa;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
  }
  
  .password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
    margin-top: 5px;
  }
  
  .btn {
    cursor: pointer;
    background: #2ecc71;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
  
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 16px;
    font-weight: 800;
    font-size: 0.8em;
  }
  
  .btn:hover {
    background: #2cc06b;
  }
  
  .opacity-1 {
    opacity: 1;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
